<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.test.HelloServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.test.TestServlet</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>Test1</servlet-name>
    <servlet-class>com.test.Test1</servlet-class>
  </servlet>
  
      <servlet>
    <servlet-name>Test2</servlet-name>
    <servlet-class>com.test.Test2</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/bbb</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/ccc</url-pattern>
  </servlet-mapping>
  
      <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/ddd</url-pattern>
  </servlet-mapping>
</web-app>